.total {
    text-align: center; 
}

.title_txt {
    padding-left: 15%;
    text-align: left;
    font-size: 30px;
}

.title {
    background-color: lightblue;
    width: 70%;
    height: 10%;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    text-align: left;
    display: inline-block;
    padding: 8px;
    margin-bottom: 20px;
}

.today_txt {
    padding-left: 15%;
    text-align: left;
    font-size: 30px;
}

.today {
    background-color: lightblue;
    width: 70%;
    height: 10%;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    text-align: left;
    display: inline-block;
    padding: 8px;
    margin-bottom: 20px;

}

.word_txt {
    padding-left: 15%;
    text-align: left;
    font-size: 30px;

}

.word {
    background-color: lightblue;
    width: 70%;
    height: 10%;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    text-align: left;
    display: inline-block;
    padding: 8px;
    margin-bottom: 20px;
}

.content_txt {
    padding-left: 15%;
    text-align: left;
    font-size: 30px;
    font-family: 'Gaegu', cursive;
}

.content {
    background-color: lightblue;
    width: 70%;
    height: 150px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    text-align: start;
    display: inline-block;
    padding: 8px;
    margin-bottom: 20px;
    font-family: 'Gaegu', cursive;
}

.pic_txt {
    position: absolute;
    left: 15%;
    font-size: 30px;
    font-family: 'Gaegu', cursive;
}

.pic {
    visibility: hidden;
}

label {
    cursor: pointer;
    font-size: 25px;
    font-family: 'Gaegu', cursive;
    background-color: lightblue;
    border: none;
    border-radius: 8px;
    padding: 2px;
    width:20%;
    position: absolute;
    right: 15%;
}
  
.record {
    background-color: deepskyblue; 
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 15px;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    font-family: 'Gaegu', cursive;
}

.no-record {
    background-color: deepskyblue; 
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 15px;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    font-family: 'Gaegu', cursive;
}